<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据处理</title>
</head>
<body>
<form method="post" action="/send" enctype="multipart/form-data">
    <input name="content" type="file">
    <!--<textarea name="content" style="width: 100%; height: 400px;" placeholder="复制需要转换的内容"></textarea>-->
    <button type="submit">提交</button>
</form>
<div>
    结果分别是/result和/result2目录下的同名文件，默认显示/result
</div>
</body>
</html>